@tailwind base;
@tailwind components;
@tailwind utilities;

.carosels {
    overflow-x: scroll;
    scroll-behavior: smooth;
    /* use this property to hide the scrollbar on firefox */
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.carousels::-webkit-scrollbar {
    display: none;
}

.carosel {
    scroll-snap-align: center;
}
.drawer {
    width: 0px;
    min-width: 0px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.drawer.active {
    width: 300px;
    min-width: 300px;
}
